.page-mast {
    img {
        width: 100%;
        height: auto;
    }
}

.contact-bar {
    text-align: center;
    padding: 1.75rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: $mediumGray;
    .btn {
        margin-left: 1rem;
        padding: 0.4rem 2rem;
    }
}
@media screen and (max-width: 690px) {
    .contact-bar {
        padding: 1.75rem 1rem;
        .btn {
            margin: 1rem auto 0 auto;
            display: block;
            max-width: 180px;
            text-align: center;
        }
    }
}

// Service Cards
.home-cards {
    padding-top: 3rem;
    .container {
        display: flex;
        align-content: center;
        justify-content: center;
        flex: 1 0;
    }
}

@media screen and (max-width: 1020px) {
    .home-cards .container {
        // flex: 0 0 auto;
        flex-wrap: wrap;
        flex: 1 0;
        // justify-content: space-around;
    }
}
.home-card-item {
    position: relative;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin: 0.5rem;
    width: 259px;
    height: 184px;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    span {
        display: block;
    }
}

.home-card-img {
    z-index: 1;
}

.home-card-label {
    z-index: 1;
    font-weight: 700;
    background-color: $primaryColor;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.3rem;
}
.home-card-text {
    position: absolute;
    left: 0;
    top: 184px;
    width: 100%;
    height: 184px;
    padding: 1rem;
    background-color: $primaryColor;
    font-size: 0.75rem;
    transition: transform 0.3s ease-in-out;
}
.home-card-item:hover .home-card-text {
    transform: translateY(-100%);
}

.testimonials { // container
    background: $primaryColor;
    color: #fff;
    padding: 3rem 0 0 0;
    margin-bottom: 2.5rem;
    a {
        transition: none !important;
        transition: color 0.2s ease-in-out !important;
    }
}


.post-page {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 2rem;
    }
    h5 {
        margin-bottom: 1rem;
    }
    p, ul, ol {
        margin-bottom: 2rem;
    }
    ol li {
        margin-bottom: 1rem;
    }
}

.post-page, .post-blog {
    .float-right, .alignright {
        margin: 1rem 0 1rem 1rem;
    }
    iframe {
        max-width: 100%;
    }
}

.contact-us-map {
    iframe {
        width: 100%;
        height: 100%;
    }
}

.customer-flex-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    p {
        margin: 0.5rem 0.5rem 0 !important;
    }
}

.blog-listing {
    h1 {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        // a {
        //     color: $primaryColor;
        // }
    }
    article:not(:last-child) {
        margin-bottom: 1.25rem;
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $mediumGray;
    }
}

.blog-post-title {
    h1 {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }
    margin-bottom: 1.5rem;
}

.blog-sidebar {
    h2 {
        font-size: 1.25rem;
    }
    .sb-widget-area {
        margin-bottom: 1.75rem;
    }
    .screen-reader-text {
        visibility: hidden;
        height: 0;
    }
    ul {
        margin-left: 0;
        padding-left: 1.75rem;
    }
}

.customer-list-item {
    &:not(:last-child) {
        margin-bottom: 5rem;
    }
    .customer-logo {
        flex-grow: 0;
    }
}
.back-to-customers {
    margin-bottom: 1.5rem;
    color: $darkGray !important;
}

.related-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    left: -1rem;
}

.related-link-box {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    min-width: 320px;
    max-width: 320px;
    background-color: $primaryColor;
    h6 {
        flex: 1 1 auto;
        line-height: 1.5;
        margin-bottom: 1.5rem !important;
        color: #fff;
    }
    a {
        align-self: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .blog-sidebar {
        margin-top: 2.5rem;
        border-top: 2px solid $mediumGray;
    }
    .back-to-blog {
        margin-top: 1.5rem;
    }
    .related-link-box {
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .home-slider-text {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 591px) {
    .post-page {
        .btn {
            white-space: normal;
            display: block;
        }
    }
    .customer-list-item {
        .customer-logo {
            flex-grow: 1;
            p {
                text-align: center;
            }
        }
        .customer-excerpt {
            flex-basis: 100%;
        }
        .btn {
            display: block;
        }
    }
}

.text-gray {
    color: $darkGray;
}
