.footer-video {
    margin-top: 1rem;
    padding: 2rem 0;
}
.footer-video-text {
    // margin-top: 2rem;
    font-size: 1.15rem;
}

.footer-tagline {
    padding: 3rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
}

.subfooter-container {
    padding: 3rem 0 4rem 0;
}
@media screen and (max-width: 605px) {
    .subfooter-container {
        .row {
            margin: 0 !important;
        }
    }
}

.footer-info {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: right;
    a {
        color: $primaryColor;
    }
}

.social-icons {
    text-align: right;
    font-size: 1.75rem;
    a {
        display: inline-block;
        color: #fff;
        padding: 0.2rem 0.4rem;
        background-color: $primaryColor;
        border-radius: 100%;
        transition: background-color 0.2s ease-in-out;
        &:hover {
            box-shadow: 2px 8px 8px rgba(black,0.1);
            background-color: $secondaryColor;
        }
    }
}

@media screen and (max-width: 1199px) {
    .footer-info {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 990px) {
    .footer-logo {
        text-align: center;
        img {
            width: 220px;
        }
    }
    .footer-info {
        text-align: center;
        margin: 1.5rem;
        font-size: 1.1rem;
    }
    .social-icons {
        text-align: center;
    }
}

@media screen and (max-width: 605px) {
    .social-phone-container {
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 550px) {
    .footer-info {
        flex-direction: column;
        .col {
            flex: 1 0 auto !important;
            &:first-child {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .social-icons {
        font-size: 1.4rem;
    }
}

.footer-contact {
    padding: 2rem 0;
    background-color: $primaryColor;
    color: #fff;
    h4 {
        margin-bottom: 2rem;
    }
    .btn {
        margin-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    p {
        margin-bottom: 0;
    }
}

.site-footer {
    padding: 2rem 0;
    background-color: $primaryColor;
    color: #fff;
    .copyright {
        font-size: 0.95rem;
    }
    a {
        color: #fff;
    }
    .pipe {
        display: inline-block;
        padding: 0 1.5rem;
    }
    .netgain-seo {
        font-size: 0.75rem;
        img {
            display: inline-block;
        }
    }
}

.flex-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1010px) {
    .site-footer {
        .copyright,
        .netgain-seo {
            flex: 1 0 100%;
            text-align: center;
        }
        .copyright {
            margin-bottom: 1.5rem;
        }
    }
}

@media screen and (max-width: 490px) {
    .copyright-links {
        display: block;
    }
    .site-footer {
        text-align: center;
        .pipe {
            display: none;
        }
    }
}
