.footer-video {
    margin-top: 2.5rem;
    padding: 2rem 0;
}
.footer-video-text {
    margin-top: 2rem;
    font-size: 1.25rem;
}

.footer-tagline {
    padding: 3rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
}

.subfooter-container {
    padding: 3rem 0 4rem 0;
}

.footer-info {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: right;
    a {
        color: $primaryColor;
    }
}

.social-icons {
    text-align: right;
    font-size: 1.75rem;
    a {
        display: inline-block;
        color: #fff;
        padding: 0.2rem 0.4rem;
        background-color: $primaryColor;
        border-radius: 100%;
        transition: background-color 0.2s ease-in-out;
        &:hover {
            box-shadow: 2px 8px 8px rgba(black,0.1);
            background-color: $secondaryColor;
        }
    }
}

.footer-contact {
    padding: 2rem 0;
    background-color: $primaryColor;
    color: #fff;
    h4 {
        margin-bottom: 2rem;
    }
    .btn {
        margin-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    p {
        margin-bottom: 0;
    }
}

.site-footer {
    padding: 2rem 0;
    background-color: $primaryColor;
    color: #fff;
    font-size: 0.95rem;
    a {
        color: #fff;
    }
    .pipe {
        display: inline-block;
        padding: 0 1.5rem;
    }
}
